html, body {
    height: 100%;          /* Задаем 100% высоте */
    margin: 0;            /* Убираем отступы */
    padding: 0;           /* Убираем внутренние отступы */
    box-sizing: border-box; /* Помогает при работе с размерами */
}